.card-annonces-ventes {
  height: 400px;
  width: 100%;
  border: 1px solid black;
  box-shadow: 3px 1px 1px rgba(0,0,0,0.5);
  display: flex;
}

.photo-card {
  height: 350px;
  width: 40%;
  border: 1px solid black;
}
