<h1>Index des annonces de ventes</h1>

<div class="container">
  <div class="card-annonces-ventes">
    <% @ventes.each do |vente| %>
    <div class="photo-card">
      <% if vente.photo.present? %>
        <%= vente.photo %>
      <% else %>
      <% end %>
      <% end %>

    </div>
    <div class="photo-description">

    </div>
    <div class="photo-btn">

    </div>
  </div>
</div>
