

<div class="banner">
  <div class="container">
    <h2>Agence du louvre</h2>
    <h5>L'agence immobilière au coeur de Paris</h5>
    <div class="btn-banner">
    <%= link_to 'Annonces des locations', ventes_path, class: "btn btn-primary" %>
    <%= link_to 'Annonces des ventes', ventes_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="container">

    <div class="agence-container">
      <div class="agence-titre-logo">
        <h1>Agence du Louvre</h1>
        <%= cl_image_tag("Agence.png", :height=>180, :quality=>100, :radius=>4, :width=>200, :crop=>"fit") %>
      </div>


      <div class="agence-horaires">
        <table>
          <tr>
            <td>Horaires</td>
          </tr>
          <tr>
            <td>Jours</td>
            <td>Matin</td><br>
            <td>Après-midi</td>
          </tr>
          <tr>
            <td>Lundi</td>
            <td>09h - 12</td>
            <td>14h - 19h</td>
          </tr>

        </table>
      </div>
       <div class="agence-histoire">
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est </p>
      </div>
    </div>

</div>


<div class="container-top-annonces">
  <div class="row ">
    <div class="col-xs-4">Première photo</div>
    <div class="col-xs-4">Deuxieme photo</div>
    <div class="col-xs-4">Troisième photo</div>
    <div class="col-xs-4">Troisième photo</div>

  </div>
</div>
