<div class="container mention-container">
  <h1>Mentions légales</h1>

   <div class="contenu">
     <ul>
       <li><strong>L'Editeur</strong></li>
       <li>Raison sociale : *</li>
       <li>Siège social : *</li>
       <li>RCS : PARIS 400098562 00012</li>
       <li>RCS juridique : *</li>
       <li>Forme sociale : *</li>
       <li>Numéro TVA Intracommunautaire : *</li>
       <li>N° de téléphone : 01 40 20 90 00</li>
       <li>Fax : *</li>
       <li>Email : ag.dulouvre@gmail.com</li>
       <li>Carte professionnelle transaction n°</li>
       <li>Préfecture de délivrance de la carte professionnelle : *</li>
       <li>Capital : *</li>
       <li>Caisse garantie financière : *</li>
       <li>Montant garantie financière : *</li>

     </ul>


   </div>
</div>
