.agence-container {
  width: 100%;
  margin: 0px auto;
  padding: 0px 30px;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

.agence-titre-logo {
  border: 1px solid red;

}



.agence-horaires {
  border: 1px solid green;
}

.agence-histoire {
  border: 1px solid blue;

}
