.container-footer {

  border-bottom: 1px solid #a29e9e61;
  background: rgb(198,199,200);
  background: linear-gradient(90deg, rgba(198,199,200,0.8211659663865546) 0%, rgba(194,196,198,0.9528186274509804) 26%, rgba(145,147,148,0.7903536414565826) 100%);
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.2;
  h1 {
    font-size: 26px;
  }
}

.services-footer {
  ul {
  list-style-type: none;
  } a {
    color: black;
  }
}


.presentation-agence-footer a {
  color: black;
}


.link-footer {
  margin-top: 0;
  ul {
  list-style-type: none;
  } a {
    color: black;
  } p {
    margin-bottom: 6px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: center;
  background: rgb(198,199,200);
background: linear-gradient(90deg, rgba(198,199,200,0.8211659663865546) 0%, rgba(194,196,198,0.9528186274509804) 26%, rgba(145,147,148,0.7903536414565826) 100%);
}

.alignement {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
