.container-footer {
  height: 250px;
  // background-color: #F5F5F5;
  border-top: 1px solid black;
  background: rgb(2,0,36);
  background: -moz-linear-gradient(90deg, rgba(2,0,36,0.9066001400560224) 0%, rgba(226,227,228,1) 0%, rgba(188,197,199,0.8337710084033614) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,0.9066001400560224) 0%, rgba(226,227,228,1) 0%, rgba(188,197,199,0.8337710084033614) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,0.9066001400560224) 0%, rgba(226,227,228,1) 0%, rgba(188,197,199,0.8337710084033614) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#bcc5c7",GradientType=1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.2;
  h1 {
    font-size: 26px;
  }
}

.services-footer {

  ul {
  list-style-type: none;
  } a {
    color: black;
  }
}

.presentation-agence-footer a {
  color: black;
}

.link-footer {

  ul {
  list-style-type: none;
  } a {
    color: black;
  }
}
