.registration-session {
  height: 80vh;
  margin-top: 70px;
}

.contact-container {
  margin-top: 70px;
  height: 1100px;
  padding: 20px 20px;
}

.center-container {
  display: block;
  text-align: center;
  justify-content: center;
}

body{width:100%;margin:auto;min-width:600px;max-width:2000px}
