 <div class="container">
<h1>Nouvelle vente</h1>
<div class="row">
  <div class="col-md-12">
<%= render 'form' %>

<p><%= link_to "Retour aux annonces", sales_path, class: "retour"  %></p>

  </div>
</div>


</div>



